.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}

.gameContainer {
    max-height: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    height: 40vw;
    width: 40vw;
    max-height: 700px;
    max-width: 700px;    
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: 100%;
}