.videoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.video, .opp-video {
    height: 20vh;
    max-width: 35vw;
    border-radius: 10px;
}

.videos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    margin-top: auto;
    margin-bottom: auto;
}

.btn {
    font-size: medium;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    background-color: #fac000;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}

.btn:hover {
    transform: translate(4px, -4px);
    box-shadow: -5px 5px 0px 0px dimgray;
}